<div class="section section-header">
    <div class="parallax filter filter-color-darkBlue">
        <div class="image" style="background-image: url('../../../assets/img/cover12.webp')"></div>
        <div class="container">
            <div class="content">
                <!--Logo-->
                <img alt="..." class="logo" src="../../../assets/img/icons/munum-icon.svg">

                <!--Seleccion de idiomas-->
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <a routerLink='/land' class="btn btn-white btn-lg" (click)="switchLanguage('es') ">
                            Español
                        </a>
                    </div>
                    <!--<div class="col-md-2">-->
                        <!--<a routerLink='/land' class="btn btn-white btn-lg" (click)="switchLanguage('en') ">-->
                            <!--English-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>