<!--Marca-->
<div class="section section-small section-get-started" id="crisis">
    <div class="parallax filter filter-color-green">
        <div class="image" style="background-image: url('../../../assets/img/cover3.webp')">
        </div>
        <div class="container">
            <div class="title-area">
                <h1 class="text-white">SGA - CRISIS</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">

    <div class="container">
        <!--boton de atras-->
        <div class="row">
            <div class="btn btn-purple btn-lg col-md-2 col-xs-12" routerLink="/land">Atras</div>
        </div>

        <!--Saludo presidente-->
        <div class="row">
            <div class="intro">
                <div class="col-sm-6">
                    <img class="intro-img img-responsive" src="../../../assets/img/pictures/nicollPachon.jpg" alt="">
                </div>
                <div class=" col-sm-6 card-price2 intro-text  text-center bg-faded  ">
                    <h2 class=" section-heading">
                        <span class="section-heading-lower text-center">{{ 'sga.crisis.greetingBy' | translate }}</span>
                        <span class="section-heading-upper section-heading-upper-charge text-center">{{ 'sga.crisis.charge' | translate }}</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-6" align="justify">
                <p>{{ 'sga.crisis.body.0.paragraph' | translate }}</p>
                <p>{{ 'sga.crisis.body.1.paragraph' | translate }}</p>
                <p>{{ 'sga.crisis.body.2.paragraph' | translate }}</p>
                <p>{{ 'sga.crisis.body.3.paragraph' | translate }}</p>
                <p>{{ 'sga.crisis.body.4.paragraph' | translate }}</p>
            </div>
        </div>


        <hr>


        <div class="row">

            <!--Consejo de seguridad-->
            <a data-toggle="collapse" href="#GAE" role="button" aria-expanded="false"
               aria-controls="collapseExample"><h4>+ GAC: TROTSKY VS STALIN</h4></a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="GAE">
                <br>
               

                <!--Temas-->
                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                        Un gabinete de crisis con algunos tintes de electoral. Una disputa por el poder y la herencia de la URSS
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/GAE - I.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Gabinete Ivan Duque</h3>
                            </a>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/GAE - S.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Gabinete Sergio Fajardo</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>

            <a data-toggle="collapse" href="#GOT" role="button" aria-expanded="false"
               aria-controls="collapseExample"><h4>+ GAC: GUERRA DE LOS 30 AÑOS</h4></a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="GOT">
                <br>
                <!--<div class="row ">-->
                <!--&lt;!&ndash;Presidente 1&ndash;&gt;-->
                <!--<div class="col-md-4 col-xs-6 info-picture">-->
                <!--<img class="img-responsive" src="../../../assets/img/abel.jpg" alt="">-->
                <!--<div class="text-picture">-->
                <!--<h2 class="section-heading mb-4">-->
                <!--<span class="section-heading-lower text-center">Abel Malaver</span>-->
                <!--</h2>-->
                <!--<p class="mb-3 text" align="justify">Every cup of our quality artisan coffee starts-->
                <!--with locally-->
                <!--sourced, hand picked-->
                <!--ingredients. Once you try it, our coffee will be a blissful addition to your-->
                <!--everyday-->
                <!--morning-->
                <!--routine - -->
                <!--we guarantee it!-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;Presidente 2&ndash;&gt;-->
                <!--<div class="col-md-4 col-xs-6 info-picture">-->
                <!--<img class="img-responsive" src="../../../assets/img/abel.jpg" alt="">-->
                <!--<div class="text-picture">-->
                <!--<h2 class="section-heading mb-4">-->
                <!--<span class="section-heading-lower text-center">Abel Malaver</span>-->
                <!--</h2>-->
                <!--<p class="mb-3 text" align="justify">Every cup of our quality artisan coffee starts-->
                <!--with locally-->
                <!--sourced, hand picked-->
                <!--ingredients. Once you try it, our coffee will be a blissful addition to your-->
                <!--everyday-->
                <!--morning-->
                <!--routine - -->
                <!--we guarantee it!-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;Presidente 3&ndash;&gt;-->
                <!--<div class="col-md-4 col-xs-6 info-picture">-->
                <!--<img class="img-responsive" src="../../../assets/img/abel.jpg" alt="">-->
                <!--<div class="text-picture">-->
                <!--<h2 class="section-heading mb-4">-->
                <!--<span class="section-heading-lower text-center">Abel Malaver</span>-->
                <!--</h2>-->
                <!--<p class="mb-3 text" align="justify">Every cup of our quality artisan coffee starts-->
                <!--with locally-->
                <!--sourced, hand picked-->
                <!--ingredients. Once you try it, our coffee will be a blissful addition to your-->
                <!--everyday-->
                <!--morning-->
                <!--routine - -->
                <!--we guarantee it!-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--Temas-->
                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                        Pronto estará displonible la guia de GAC
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/GOT - STARK.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia bando Stark</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/GOT - LANNISTER.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia bando Lannister</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>

            <a data-toggle="collapse" href="#GAU" role="button" aria-expanded="false"
               aria-controls="collapseExample"><h4>+ GAU: GUERRA DE COREA</h4></a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="GAU">
                <br>
                <!--<div class="row ">-->
                <!--&lt;!&ndash;Presidente 1&ndash;&gt;-->
                <!--<div class="col-md-4 col-xs-6 info-picture">-->
                <!--<img class="img-responsive" src="../../../assets/img/abel.jpg" alt="">-->
                <!--<div class="text-picture">-->
                <!--<h2 class="section-heading mb-4">-->
                <!--<span class="section-heading-lower text-center">Abel Malaver</span>-->
                <!--</h2>-->
                <!--<p class="mb-3 text" align="justify">Every cup of our quality artisan coffee starts-->
                <!--with locally-->
                <!--sourced, hand picked-->
                <!--ingredients. Once you try it, our coffee will be a blissful addition to your-->
                <!--everyday-->
                <!--morning-->
                <!--routine - -->
                <!--we guarantee it!-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;Presidente 2&ndash;&gt;-->
                <!--<div class="col-md-4 col-xs-6 info-picture">-->
                <!--<img class="img-responsive" src="../../../assets/img/abel.jpg" alt="">-->
                <!--<div class="text-picture">-->
                <!--<h2 class="section-heading mb-4">-->
                <!--<span class="section-heading-lower text-center">Abel Malaver</span>-->
                <!--</h2>-->
                <!--<p class="mb-3 text" align="justify">Every cup of our quality artisan coffee starts-->
                <!--with locally-->
                <!--sourced, hand picked-->
                <!--ingredients. Once you try it, our coffee will be a blissful addition to your-->
                <!--everyday-->
                <!--morning-->
                <!--routine - -->
                <!--we guarantee it!-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;Presidente 3&ndash;&gt;-->
                <!--<div class="col-md-4 col-xs-6 info-picture">-->
                <!--<img class="img-responsive" src="../../../assets/img/abel.jpg" alt="">-->
                <!--<div class="text-picture">-->
                <!--<h2 class="section-heading mb-4">-->
                <!--<span class="section-heading-lower text-center">Abel Malaver</span>-->
                <!--</h2>-->
                <!--<p class="mb-3 text" align="justify">Every cup of our quality artisan coffee starts-->
                <!--with locally-->
                <!--sourced, hand picked-->
                <!--ingredients. Once you try it, our coffee will be a blissful addition to your-->
                <!--everyday-->
                <!--morning-->
                <!--routine - -->
                <!--we guarantee it!-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--Temas-->
                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                        Pronto estará displonible la guia de GAU
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-2 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/GOT - STARK.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia bando Stark</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/GOT - LANNISTER.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia bando Lannister</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Intranet</h5>
                    <nav>
                        <ul>
                            <li>
                                <a routerLink="/login">Login Staff</a>
                            </li>
                            <!--<li>-->
                            <!--<a routerLink="/staffRegistry">Register Staff</a>-->
                            <!--</li>-->
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Contactanos</h5>
                    <nav>
                        <ul>
                            <hr class="hr-small">
                            <li>
                                <a>sg.munum@gmail.com</a>
                            </li>
                            <hr class="hr-small">
                            <li>
                                <a>logistica.munum@gmail.com</a>
                            </li>
                            <hr class="hr-small">
                            <li>
                                <a>prensa.munum@gmail.com</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-2  col-sm-3">
                <div class="info">
                    <h5 class="title">{{ 'Land.footer.follow' | translate }}</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/munum.co/" target="_blank"
                                   class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/munum.co/" target="_blank"
                                   class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            ©
            <script> document.write(new Date().getFullYear()) </script>
            Creative Tim, made with love - Edited by Jeisson F. Sánchez
        </div>
    </div>
</footer>
