<!--Marca-->
<div class="section section-small section-get-started" id="onu">
    <div class="parallax filter filter-color-blue">
        <div class="image" style="background-image: url('../../../assets/img/cover3.webp')">
        </div>
        <div class="container">
            <div class="title-area">
                <h1 class="text-white">SGA - Consorcio Mundial de Prensa e Interconexión</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <!--boton de atras-->
        <div class="row">
            <div class="btn btn-purple btn-lg col-md-2 col-xs-12" routerLink="/land">Atras</div>
        </div>

        <!--Saludo presidente-->
        <div class="row">
            <div class="intro">
                <div class="col-sm-6">
                    <img class="intro-img img-responsive" src="../../../assets/img/pictures/jeissonTribiño.jpg" alt="">
                </div>
                <div class=" col-sm-6 card-price2 intro-text  text-center bg-faded  ">
                    <h2 class=" section-heading">
                        <span class="section-heading-lower text-center">Jeisson Triviño</span>
                        <span
                            class="section-heading-upper section-heading-upper-charge text-center">SGA para Consorcio Mundial de Prensa e Interconexión</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-6" align="justify">
                    <p>Hola! </p>
                    <p>Mi nombre es Jeisson Andrés Triviño S. Actualmente curso 9 semestre de Relaciones Internacionales y Estudios Políticos en la Universidad Militar Nueva Granada,  los acompañaré en la SGA del Consorcio Mundial de Prensa e Interconexión y espero hacer de este comité una experiencia muy agradable y de mucho aprendizaje!  Espero que MUNUM rompa esquemas y para ello necesitamos del trabajo en equipo de todos los participantes! </p>
                    <p>Gracias.</p>
                    <p>--</p>
                    <p>Hi!</p>
                    <p>My name is Jeisson Andrés Triviño S. Currently I’m in my night semester of my undergraduate program, International Relations and Political Studies at the Military University Nueva Granada, I’ll be with you in the USG of World Press Consortium and Interconnection and I’m hoping that this committees will be an unforgettable experience with lots of learning!  Also I’m hoping that MUNUM break schemes and for that, we need teamwork of all of us.</p>
                    <p>Thank you!</p>
            </div>
        </div>

        <hr>


        <div class="row">

            <a data-toggle="collapse" href="#mayor" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h4>+ Centro de Interconexión</h4>
            </a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="mayor">
                <br>

                <!-- <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Pronto estará disponible la guia de interconexión.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div> -->

                <!--Temas-->
                <!-- <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Plan de contención y estabilización global – Fase 1: Avanzada antiterrorista.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div> -->

                <!--Guias-->
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/CENTRO DE INTERCONEXION.pdf" target="_blanck">
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="collapse" href="#rights" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <h4>+ Consorcio Mundial de Prensa</h4>
            </a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="rights">
                <br>

                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                        Pronto estará disponible la guia de Consorcio Mundial de Prensa.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>

                <!--Temas-->
                <!-- <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    The humanitarian void in the Chechen case: a semi open agenda.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div> -->

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/HRC.pdf" download>
                                <img src="/../../../assets/img/icons/guias.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guía</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Intranet</h5>
                    <nav>
                        <ul>
                            <li>
                                <a routerLink="/login">Login Staff</a>
                            </li>
                            <!--<li>-->
                            <!--<a routerLink="/staffRegistry">Register Staff</a>-->
                            <!--</li>-->
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Contactanos</h5>
                    <nav>
                        <ul>
                            <hr class="hr-small">
                            <li>
                                <a>sg.munum@gmail.com</a>
                            </li>
                            <hr class="hr-small">
                            <li>
                                <a>logistica.munum@gmail.com</a>
                            </li>
                            <hr class="hr-small">
                            <li>
                                <a>prensa.munum@gmail.com</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-2  col-sm-3">
                <div class="info">
                    <h5 class="title">{{ 'land.footer.follow' | translate }}</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/munum.co/" target="_blank"
                                    class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/munum.co/" target="_blank"
                                    class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            ©
            <script> document.write(new Date().getFullYear()) </script>
            Creative Tim, made with love - Edited by Jeisson F. Sánchez
        </div>
    </div>
</footer>