<!--Marca-->
<div class="section section-small section-get-started" id="regionales">
    <div class="parallax filter filter-color-gold">
        <div class="image" style="background-image: url('../../../assets/img/cover3.webp')">
        </div>
        <div class="container">
            <div class="title-area">
                <h1 class="text-white">SGA - REGIONALES</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">

    <div class="container">
        <!--boton de atras-->
        <div class="row">
            <div class="btn btn-purple btn-lg col-md-2 col-xs-12" routerLink="/land">Atras</div>
        </div>

        <!--Saludo presidente-->
        <div class="row">
            <div class="intro">
                <div class="col-sm-6">
                    <img class="intro-img img-responsive" src="../../../assets/img/pictures/DiegoTorres.jpg" alt="">
                </div>
                <div class=" col-sm-6 card-price2 intro-text  text-center bg-faded  ">
                    <h2 class=" section-heading">
                        <span class="section-heading-lower text-center">{{ 'sga.regionales.greetingBy' | translate }}</span>
                        <span class="section-heading-upper section-heading-upper-charge text-center">{{ 'sga.regionales.charge' | translate }}</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-6" align="justify">
                <p>{{ 'sga.regionales.body.0.paragraph' | translate }}</p>
                <p>{{ 'sga.regionales.body.1.paragraph' | translate }}</p>
                <p>{{ 'sga.regionales.body.2.paragraph' | translate }}</p>
                <p>{{ 'sga.regionales.body.3.paragraph' | translate }}</p>
                <p>{{ 'sga.regionales.body.4.paragraph' | translate }}</p>
            </div>
        </div>


        <hr>


        <div class="row">

            <!--Consejo de seguridad-->
            <a data-toggle="collapse" href="#astana" role="button" aria-expanded="false"
               aria-controls="collapseExample"><h4>+ Commonwealth of nations</h4></a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="astana">
                <br>
                

                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Está atento, muy pronto conocerás los temas.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>


                <!--Temas-->
                <!-- <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Encuentro exploratorio: Plan de reconstrucción y restauración por Siria.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div> -->

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/Astana.pdf">
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>

            <a data-toggle="collapse" href="#apec" role="button" aria-expanded="false"
               aria-controls="collapseExample"><h4>+ Foro de cooperación económica Asia - Pacífico (APEC)  </h4></a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="apec">
                <br>
                
                
                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Está atento, muy pronto conocerás los temas.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>

                <!--Temas-->
                <!-- <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Centro de noticias de los principales medios de comunicación globales.
                            </ul>
                        </h4>
                    </div>
                </div> -->

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/CMP.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>


            <a data-toggle="collapse" href="#prensa" role="button" aria-expanded="false"
               aria-controls="collapseExample"><h4>+  Comisión de DDHH y los pueblos de la Unión Africana</h4></a>

            <!--Consejo de seguridad Tab-->
            <div class="collapse" id="prensa">
                <br>
                
                
                <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Está atento, muy pronto conocerás los temas.
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>

                <!--Temas-->
                <!-- <div class="row">
                    <div class="topic">
                        <h4>
                            <ul class="text-center">
                                <li>
                                    Centro de noticias de los principales medios de comunicación globales.
                            </ul>
                        </h4>
                    </div>
                </div> -->

                <!--Guias-->
                <!-- <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="info-icon">
                            <div class="icon text-danger">
                                <i class="pe-7s-graph1"></i>
                            </div>
                            <a href="/../../../assets/doc/CMP.pdf" download>
                                <img src="/../../../assets/img/icons/abc.svg" class="down-icon" alt="">
                                <h3 class="down-icon-text">Descargar guia</h3>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Intranet</h5>
                    <nav>
                        <ul>
                            <li>
                                <a routerLink="/login">Login Staff</a>
                            </li>
                            <!--<li>-->
                            <!--<a routerLink="/staffRegistry">Register Staff</a>-->
                            <!--</li>-->
                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-md-3 col-md-offset-1 col-sm-3">
                <div class="info">
                    <h5 class="title">Contactanos</h5>
                    <nav>
                        <ul>
                            <hr class="hr-small">
                            <li>
                                <a>sg.munum@gmail.com</a>
                            </li>
                            <hr class="hr-small">
                            <li>
                                <a>logistica.munum@gmail.com</a>
                            </li>
                            <hr class="hr-small">
                            <li>
                                <a>prensa.munum@gmail.com</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-2  col-sm-3">
                <div class="info">
                    <h5 class="title">{{ 'land.footer.follow' | translate }}</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/munum.co/" target="_blank"
                                   class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook-square"></i> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/munum.co/" target="_blank"
                                   class="btn btn-social btn-dribbble btn-simple">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            ©
            <script> document.write(new Date().getFullYear()) </script>
            Creative Tim, made with love - Edited by Jeisson F. Sánchez
        </div>
    </div>
</footer>
