<div class="full-page-background " style="background-image: url(../../../assets/img/cover3.webp) ">
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="orange">
            <div class="content">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

                            <form (submit)="onSubmit()">
                                <div class="card card-login">
                                    <div class="card-header" data-background-color="orange">
                                        <h4 class="card-title"><b>Ingresar</b></h4>
                                        <p class="category">Ingrese los datos a continuacion</p>
                                    </div>

                                    <!--Content-->
                                    <div class="card-content">
                                        <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                    </span>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Correo</label>
                                                <input type="text" class="form-control" [(ngModel)]="staff.email" name="email">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                    </span>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Contraseña</label>
                                                <input type="password" class="form-control" [(ngModel)]="staff.password" name="password">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="footer text-center">
                                        <button class="btn btn-warning btn-simple btn-wd btn-lg" type="submit">Ingresar
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


