<div class="container register-page">
    <div class="content">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" src="../../assets/img/sign.jpg"/>
                    </div>

                    <div>
                        <h4 class="card-title">{{ 'register.message.title' | translate }}</h4>
                        <p class="card-content"> {{ 'register.message.subtitle' | translate }} <br><br> <a routerLink="/delegation"><span class="required">{{ 'register.message.here' | translate }} </span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="card-title"><b>{{ 'register.title' | translate }} </b></h4>
                        <p class="category">{{ 'register.subtitle' | translate }}</p>
                    </div>
                    <div class="card-content">

                        <!--Formularo de registro-->
                        <form (submit)="onSubmit()">

                            <!--Content-->
                            <br>
                            <span class="required"><b>{{ 'register.labels.generalInformation' | translate }}</b></span>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.name' | translate }}<span class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.name" name="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.lastName' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.lastName"
                                               name="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.email' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="email" class="form-control" [(ngModel)]="delegate.email"
                                               name="email">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.birth' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.birth"
                                               name="birth">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <!--<label for="sel1">Type of Id</label>-->
                                    <select class="form-control formFormat" [(ngModel)]="delegate.idType" name="idType">
                                        <option value="" disabled="true">{{ 'register.fields.idType' | translate }}</option>
                                        <option value="C.C">C.C</option>
                                        <option value="T.I">T.I</option>
                                        <option value="P.P">Passport</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.idNumber' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.idNumber"
                                               name="idNumber">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.cellphone' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.cellphone"
                                               name="cellphone">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control formFormat" [(ngModel)]="delegate.country" name="country">
                                        <option value="" disabled="true" >{{ 'register.fields.country' | translate }}</option>
                                        <option *ngFor="let country of countries">{{country.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.city' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.city" name="city">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.institution' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.institution"
                                               name="institution">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.degree' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.degree"
                                               name="degree">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <br>
                                <div class="col-md-3">
                                    <div class="formFormat2">{{ 'register.fields.vegetarian' | translate }}</div>
                                </div>
                                <div class="col-md-9">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="delegate.vegetarian" name="vegetarian">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <hr>
                            <span class="required"><b>{{ 'register.labels.emergencyData' | translate }}</b></span>

                            <div class="row">
                                <div class="col-md-2">
                                    <select class="form-control formFormat" [(ngModel)]="delegate.blood" name="blood">
                                        <option value="" disabled="true">{{ 'register.fields.blood' | translate }}</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                    </select>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.insurance' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.insurance"
                                               name="insurance">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.specialCondition' | translate }}</label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.specialCondition"
                                               name="specialCondition">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.contactName' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.contactName"
                                               name="contactName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.contactPhone' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.contactPhone"
                                               name="contactPhone">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{ 'register.fields.numberMun' | translate }}<span
                                                class="required">*</span></label>
                                        <input type="text" class="form-control" [(ngModel)]="delegate.numberMun"
                                               name="numberMun">
                                    </div>
                                </div>
                            </div>


                            <br>
                            <hr>
                            <span class="required"><b>{{ 'register.labels.munumData' | translate }}</b></span>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="formFormat">{{ 'register.fields.committee1' | translate }}<span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="col-md-9 form-control formFormat"
                                                [(ngModel)]="delegate.committee1" name="committee1">
                                            <option value="" disabled="true">Comité 1</option>
                                            <option value="1">Security council (Doble delegación)</option>
                                            <option value="2">Corte Internacional de Justicia (CIJ)</option>
                                            <option value="3">Comité de política especial y de descolonización (SPECPOL)</option>
                                            <option value="4">Audiencia nacional española: juicio a Pinochet</option>
                                            <option value="5">Consejo nacional de seguridad: palacio de justicia 1985</option>
                                            <option value="6">Banco Interamericano de Desarrollo (BID) asamblea anual</option>
                                            <option value="7">Comisión de DDHH y de los pueblos de la Unión Africana</option>
                                            <option value="8">Commonwealth of Nations</option>
                                            <option value="9">Foro de cooperación económica Asia – Pacífico (APEC)</option>
                                            <option value="10">GAC: Trotsky vs Stalin</option>
                                            <option value="11">GAC: Guerra de los 30 años</option>
                                            <option value="12">GAU: Guerra de corea</option>
                                            <option value="13">Secret Committee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="formFormat">{{ 'register.fields.committee2' | translate }}<span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="col-md-9 form-control formFormat"
                                                [(ngModel)]="delegate.committee2" name="committee2">
                                                <option value="" disabled="true">Comité 1</option>
                                                <option value="1">Security council (Doble delegación)</option>
                                                <option value="2">Corte Internacional de Justicia (CIJ)</option>
                                                <option value="3">Comité de política especial y de descolonización (SPECPOL)</option>
                                                <option value="4">Audiencia nacional española: juicio a Pinochet</option>
                                                <option value="5">Consejo nacional de seguridad: palacio de justicia 1985</option>
                                                <option value="6">Banco Interamericano de Desarrollo (BID) asamblea anual</option>
                                                <option value="7">Comisión de DDHH y de los pueblos de la Unión Africana</option>
                                                <option value="8">Commonwealth of Nations</option>
                                                <option value="9">Foro de cooperación económica Asia – Pacífico (APEC)</option>
                                                <option value="10">GAC: Trotsky vs Stalin</option>
                                                <option value="11">GAC: Guerra de los 30 años</option>
                                                <option value="12">GAU: Guerra de corea</option>
                                                <option value="13">Secret Committee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="formFormat">{{ 'register.fields.committee3' | translate }}<span class="required">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="col-md-9 form-control formFormat"
                                                [(ngModel)]="delegate.committee3" name="committee3">
                                                <option value="" disabled="true">Comité 1</option>
                                                <option value="1">Security council (Doble delegación)</option>
                                                <option value="2">Corte Internacional de Justicia (CIJ)</option>
                                                <option value="3">Comité de política especial y de descolonización (SPECPOL)</option>
                                                <option value="4">Audiencia nacional española: juicio a Pinochet</option>
                                                <option value="5">Consejo nacional de seguridad: palacio de justicia 1985</option>
                                                <option value="6">Banco Interamericano de Desarrollo (BID) asamblea anual</option>
                                                <option value="7">Comisión de DDHH y de los pueblos de la Unión Africana</option>
                                                <option value="8">Commonwealth of Nations</option>
                                                <option value="9">Foro de cooperación económica Asia – Pacífico (APEC)</option>
                                                <option value="10">GAC: Trotsky vs Stalin</option>
                                                <option value="11">GAC: Guerra de los 30 años</option>
                                                <option value="12">GAU: Guerra de corea</option>
                                                <option value="13">Secret Committee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-danger text-center">
                                <div class="col-md-12">
                                    <p>{{ 'register.labels.note' | translate }}</p>
                                </div>
                            </div>

                            <br>
                            <hr>
                            <span class="required"><b>{{ 'register.labels.code' | translate }}</b></span>

                            <div class="row">
                                <br>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="formFormat2">{{ 'register.fields.codeMessage' | translate }}</div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" (click)="showSelected()">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="selected">
                                <div class=" col-md-offset-1 col-md-8">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label"> {{ 'register.fields.code' | translate }}</label>
                                        <input type="text" class="form-control text-uppercase" [(ngModel)]="delegate.code"
                                               name="numberMun">
                                    </div>
                                </div>
                                <div class=" btn btn-warning" (click)="findIntitutionCode()">{{ 'register.find' | translate }}</div>
                            </div>
                            <div class="row" *ngIf="institutionName">
                                <div class=" col-md-offset-1 col-md-8">{{institutionName}}</div>
                            </div>

                            <button type="submit" class="btn btn-warning pull-right">{{ 'register.send' | translate }}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
