.register-page {

}
.required {
  color: orange;
}
.content {
  padding-top: 10vh;
}
.formFormat {
  line-height: 1.07142857;
  color: #AAAAAA;
  margin: 16px 0 0 0;
}
.formFormat2 {
  line-height: 1.07142857;
  color: #AAAAAA;
  margin: 0px 0 0 0 !important;
}